<ion-view cache-view="false" hide-back-button="true">
    
    <div class="bar bar-header bar-royal" style='border: 0px'></div>

        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="go('tab.discussions','exit')">
                <i class="ion-ios-arrow-left"> Back</i>
            </button>
        </ion-nav-buttons>

    </div>
    
    <ion-content class="padding has-header has-subheader has-footer">
        
        <div class="spacer" style="height: 20px;"></div>
        <div>
            <h3>Admining...</h3>
        </div>
        
    </ion-content>

</ion-view>