<ion-view cache-view="false" animation="slide-left-right" hide-back-button="true">
    
    <ion-nav-buttons>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-nav-title>
      Discussions
    </ion-nav-title>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon icon icon_search_on" ng-click="search()"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader bar-royal" ng-if='!searching' style='border: none;'>
      <div class="buttons">
        <button class="button icon-left icon_funnel" ng-click="openPopover($event)">&nbsp;{{sort_display}}</button>
      </div>
      <h2 class="title"></h2>
      <div class="buttons">
        <button class="button button-icon icon ion-ios-plus-empty" ng-if="_platform != 'android'" ng-click="openModal()"></button>
      </div>
    </div>
    
    <ion-content class="has-header" ng-class='searching? "" : "has-tabs has-subheader has-android-header"' scrollbar-y="false">

      <div class="spacer" style="height: 80px;" ng-if="spinner_face"></div>

      <div class="row row-center" ng-if="spinner_face">
          <div class="col">
              <ion-spinner class='center'></ion-spinner>
          </div>
      </div>

        <div class="list">

          <div class="item item-text-wrap" ng-repeat="item in list | orderBy:[sorter,item.id]" style='padding-left: 0px;'>
            <div class="row" style='padding: 0px;'>
              <div class="col col-20" style='padding: 0px;'>
                <div class="centerBlock">
                  <i class='icon' ng-class="item.fav ? 'icon_heart assertive':'icon_heart_outline'" ng-click="addFavorite(item.id, item.author);"></i>
                </div>
                <div class="centerBlock" ng-class="item.fav ? 'assertive':''">
                  {{item.votes}}
                </div>
              </div>
              <div class="col" style='padding: 0px;' on-hold="pressed(item.content, item.id)" ng-click="entryDetails(item.id)">
                <h2 ng-if='!item.content_hide'>{{ item.content }}</h2>
                <img ng-src='{{item.imgsrc}}' ng-if="item.imgsrc" style='width: 100%; height: auto;'>
                <div class="row second_line">
                  <div class="col col-50 text-left second_line">{{item.name}}</div>
                  <div class="col second_line">{{item.commentInt}} <i class="icon_chatbubble"></i></div>
                  <div class="col text-right second_line">{{ timeSince(item.date) }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        
        <ion-infinite-scroll immediate-check="false" on-infinite="loadMoreData()" ng-if="moreDataCanBeLoaded" distance="20%"></ion-infinite-scroll>
            
    </ion-content>

    <button class="button float-button action-float" ng-click="openModal()" ng-if="_platform == 'android' && !searching" >
      <i class="icon ion-plus"></i>
    </button>
    
</ion-view>
