<ion-view hide-nav-bar="true">

    <div class="bar bar-header bar-royal" style='border: 0px; height:30%;'></div>
        
    <ion-content class='has-header padding' style='border: 0px; background: #3f51b5 !important; top: 30%'>

        <div class="row row-center" style='border: 0px;'>
            <div class="col cel-center">
                <img style='margin-left: auto; margin-right: auto; display: block;' src='lib/logo.png' width="25%"></img>
            </div>
        </div>
        <div class="row row-center">
            <div class="col cel-center">
                <h3 class='center' style='color: white;'>Feel the pulse of your company</h3>
            </div>
        </div>
        
    </ion-content>

    <ion-footer-bar class="bar-royal" style='border: 0px; height:20%;'>
        <div class="row row-center">
            <div class="col">
                <button class="button button-large button-block button-clear" ng-click="go('apply','forward')">APPLY</button>
            </div>
            <div class="col">
                <button class="button button-large button-block button-clear" ng-click="go('login','forward')">LOG IN</button>
            </div>
        </div>
    </ion-footer-bar>
    
</ion-view>